*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    line-height: 0;
}

button {
    display: inline-block;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #FFFFFF;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.swiper {
    padding-bottom: 99px !important;
}


/* 
-----------------------------HEADER----------------------------- */

.header {
    padding: 18px 0 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    align-items: center;
}

.container {}

.header__logo {
    flex-grow: 1;
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
}

.header__logo:hover {
    opacity: 0.6;
}

.header__menu {}

.menu {
    margin: auto 0;
}

.menu__list {
    display: flex;
    column-gap: 64px;
}

.menu__item {}

.menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #293241;
    transition: 0.4s;
}

.menu__link:hover {
    color: #EE6C4D;
}

.header__button {
    margin-left: 81px;
}

.button {
    padding: 8px 30px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #EE6C4D;
    border-radius: 48px;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    box-shadow: 0px 5px 57px 0px rgba(238, 108, 77, 0.5);
}

.header__burger {
    position: relative;
    height: 25px;
    width: 40px;
    /* transform: rotate(180deg); */
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.header__burger div:nth-child(1) {
    position: absolute;
    content: "";
    height: 5px;
    width: 40px;
    background-color: #000000b4;
    top: 0;
    border-radius: 20px;
    transition: 200ms;
}

.header__burger div:nth-child(2) {
    position: absolute;
    height: 5px;
    width: 35px;
    background-color: #000000b4;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
}

.header__burger div:nth-child(3) {
    position: absolute;
    content: "";
    height: 5px;
    width: 40px;
    background-color: #000000b4;
    bottom: 0;
    border-radius: 20px;
    transition: 200ms;
}

@media (max-width:767px) {
    .header_active {}
    .header__container {
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .menu {
        display: none;
    }
    .header__burger {
        display: block;
    }
    .header__burger_active {}
    .header__burger_active div:nth-child(1) {
        top: 35%;
        transform: rotate(45deg);
    }
    .header__burger_active div:nth-child(2) {
        display: none;
    }
    .header__burger_active div:nth-child(3) {
        top: 35%;
        transform: rotate(135deg);
    }
    .menu_active {
        order: 5;
        width: 100%;
        display: block;
    }
    .menu_active .menu__list {
        flex-direction: column;
        row-gap: 40px;
    }
    .menu_active .menu__item {
        text-align: center;
    }
    .menu_active .menu__item a {
        font-size: 20px;
    }
}

@media (max-width:465px) {
    .header__container {
        display: flex;
        justify-content: center;
    }
    .header__logo {
        /* flex-basis: 100%; */
    }
    .header__button {
        order: 4;
        margin-left: 0;
        flex-basis: 90%;
    }
    .menu_active .menu__list {
        padding-top: 25px;
    }
}


/* 
-----------------------------MAIN-SCREEN----------------------------- */

.main-screen {}

.main-screen__container {
    padding: 175px 15px 117px;
    position: relative;
}

.main-screen__container::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url("./images/main-block/background.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 30px top 21px;
    z-index: 1;
}

.main-screen__container>* {
    position: relative;
    z-index: 10;
}

.main-screen__title {
    max-width: 480px;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #EE6C4D;
    margin-bottom: 10px;
}

.main-screen__description {
    max-width: 360px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #293241;
    margin-bottom: 24px;
}

.main-screen__description span {
    font-weight: 700;
}

.main-screen__link {
    padding: 8px 25px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

@media(max-width:1252px) {
    .main-screen__container {
        padding: 45px 15px 117px;
        text-align: center;
    }
    .main-screen__container::after {
        position: static;
        width: 90%;
        padding-bottom: 75.2%;
        display: block;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
    }
    .main-screen__title {
        max-width: unset;
        text-align: center;
    }
    .main-screen__description {
        max-width: unset;
        text-align: center;
    }
}

@media(max-width:768px) {
    .main-screen__container {
        padding-top: 25px;
    }
    .container {}
    .main-screen__title {
        font-size: 45px;
        line-height: 60px;
    }
    .main-screen__description {
        font-size: 16px;
    }
    .main-screen__link {
        font-size: 16px;
    }
}

@media(max-width:600px) {
    .main-screen__container {
        padding-top: 40px;
    }
    .container {}
    .main-screen__title {
        font-size: 34px;
        line-height: 45px;
    }
    .main-screen__description {}
    .main-screen__link {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}


/*
-----------------------------DESTINATIONS----------------------------- */

.block-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.destinations {
    background-color: #FFFFFF;
    padding: 8.2% 0 13%;
    background-image: url("./images/destinations/top.svg"), url("./images/destinations/bottom.svg");
    background-repeat: no-repeat;
    background-size: contain, contain;
    background-position: center top, center bottom;
}

.destinations__inner {
    background-color: #293241;
}

.destinations__inner {}

.destinations__container {
    padding-top: 37px;
}

.container {}

.destinations__title {
    text-align: center;
    margin-bottom: 46px;
}

.block-title {}

.destinations__items {
    display: flex;
    gap: 44px;
    flex-wrap: wrap;
    justify-content: center;
}

.destinations__item {
    flex-shrink: 1;
    cursor: pointer;
}

.item-destinations {
    padding-bottom: 48px;
    position: relative;
}

.item-destinations__img {}

.item-destinations__note {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 14px 23px;
    width: 251px;
}

.note {}

.note__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #293241;
}

.note__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #293241;
}

.note__rating {}

.rating {
    display: flex;
    column-gap: 2px;
}

@media(max-width:1280px) {
    .item-destinations__img>img {
        display: block;
        margin: 0 auto;
    }
}

@media(max-width:767px) {
    .destinations__title {
        font-size: 32px;
    }
}

@media(max-width:425px) {
    .destinations__title {
        font-size: 27px;
        margin-bottom: 24px;
    }
    .swiper {
        padding-bottom: 80px !important;
    }
    .note__title {
        font-size: 22px;
    }
}


/*  -------------------TESTIMONIALS------------------- */

.testimonials {
    padding-top: 130px;
}

.testimonials__container {}

.container {}

.testimonials__title {
    color: #293241;
    margin-bottom: 64px;
    text-align: center;
}

.block-title {}

.testimonials__items {
    display: flex;
    gap: 35px 22px;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials__item {
    padding: 27px 21px 36px 20px;
    box-shadow: 0px 101px 302px rgba(41, 50, 65, 0.08), 0px 42.1954px 157.306px rgba(41, 50, 65, 0.0575083), 0px 22.5597px 107.91px rgba(41, 50, 65, 0.0476886), 0px 12.6468px 77.7341px rgba(41, 50, 65, 0.04), 0px 6.7166px 52.7962px rgba(41, 50, 65, 0.0323114), 0px 2.79493px 27.7529px rgba(41, 50, 65, 0.0224916);
    border-radius: 20px;
    display: flex;
    column-gap: 26px;
    min-height: 278px;
}

.review-item {
    flex-basis: 398px;
}

.review-item__image {}

.review-item__text {}

.review-item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #293241;
    margin-bottom: 4px;
}

.review-item__rating {
    margin-bottom: 8px;
}

.rating {}

.review-item__message {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #293241;
    margin-bottom: 14px;
}

.review-item__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #293241;
    margin-top: auto;
}

@media(max-width:425px) {
    .review-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .review-item__rating {
        justify-content: center;
    }
}

.swiper-wrapper {}

.destinations__item {}

.item-destinations {}

.item-destinations__img {}

.item-destinations__note {}

.note {}

.note__title {}

.note__info {}

.note__rating {}

.rating {}

.swiper-pagination {}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 50%;
}

.swiper-button-prev {}

.swiper-button-next {}


/* -------------------------ABOUT-US------------------------ */

.about-us {}

.about-us__container {}

.container {}

.about-us__title {
    color: #293241;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 39px;
}

.block-title {}

.about-us__content {
    display: flex;
}

.about-us__content>* {}

.about-us__info {
    margin-top: 69px;
}

.about-us__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.about-us__text:not(:last-child) {
    margin-bottom: 27px;
}

.about-us__text span {
    font-weight: 700;
}

.orange {
    color: #EE6C4D;
}

@media(max-width:1100px) {
    .about-us__content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-us__info {
        margin: 0;
        flex-grow: 1;
    }
    .about-us__info .about-us__text {
        font-size: 20px;
        margin: 0 0 10px;
    }
    .about-us__text:not(:last-child) {}
    .about-us__image {
        position: relative;
        flex-basis: 65%;
        padding-bottom: 63.16%;
        line-height: 0;
    }
    .about-us__image img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        background-position: center;
    }
}

@media(max-width:500px) {
    .about-us__info .about-us__text {
        font-size: 16px
    }
}


/* -------------------------SUBSCRIBE------------------------ */

.subcribe {
    padding-top: 154px;
    padding-bottom: 79px;
}

.subcribe__container {
    display: flex;
    justify-content: space-between;
    background: #293241;
    border-radius: 20px;
    flex-wrap: wrap;
}

.subcribe__info {
    padding: 81px 0 94px 106px;
}

.subcribe__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.subcribe__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 515px;
    margin-bottom: 54px;
}

.form {
    background: #FFFFFF;
    border-radius: 26px;
    display: flex;
    align-items: center;
    padding-right: 3px;
}

.form__email-field {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: rgba(41, 50, 65, 0.5);
    padding: 12px 28px 12px 28px;
    background-color: #FFFFFF;
    border-radius: 26px;
    border: none;
    outline: none;
    flex-grow: 1;
}

.form__submit-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #293241;
    border-radius: 23px;
    padding: 9px 32px;
    border: none;
    cursor: pointer;
}

.subcribe__image {
    line-height: 0;
    margin-right: -15px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

@media(max-width:1270px) {
    .subcribe__container {
        justify-content: flex-end;
    }
    .subcribe__info {
        flex-grow: 1;
        padding-bottom: 0;
        padding-left: 0;
        text-align: center;
    }
    .subcribe__title {
        text-align: center;
    }
    .subcribe__description {
        max-width: unset;
        text-align: center;
    }
    .subcribe__form {
        max-width: 75%;
        margin: 0 auto;
    }
}

@media(max-width:768px) {
    .form {
        max-width: 80%;
    }
    .subcribe__image {
        position: relative;
        width: 78.4%;
        padding-bottom: 49.7%;
    }
    .subcribe__image img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media(max-width:556px) {
    .subcribe__title {
        font-size: 34px;
    }
    .subcribe__description {
        font-size: 16px;
    }
    .subcribe__form {
        background-color: transparent;
    }
    .form {
        flex-direction: column;
        row-gap: 20px;
    }
    .form__email-field {
        width: 100%;
    }
    .form__submit-btn {
        background: #EE6C4D;
        width: 100%;
        padding: 12px 28px;
    }
    .subcribe {
        padding-top: 80px;
    }
}


/* -------------------FOOTER----------------------- */

.footer {
    padding-top: 12.48%;
    background-image: url("./images/footer/footer-decor.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__wrapper {
    background-color: #293241;
}

.footer__top {
    display: flex;
    column-gap: 79.6px;
    padding-bottom: 59px;
    border-bottom: 1px solid #FFFFFF;
    flex-wrap: wrap;
    row-gap: 65px;
}

.column-footer:nth-child(1) {
    flex-grow: 1;
}

.column-footer__logo {
    margin-bottom: 112px;
    opacity: 0.99;
    transition: 0.5s;
}

.column-footer__logo:hover {
    opacity: 0.6;
}

.column-footer__social-media-list {
    display: flex;
    column-gap: 29px;
}

.column-footer__social-media-link {
    transition: 0.4s;
    transform: scale(1);
}

.column-footer__social-media-link:hover {
    transform: scale(1.3);
}

.column-footer__header {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.menu-footer__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    color: #FFFFFF;
    padding-bottom: 2px;
}

.menu-footer__link:hover {
    text-decoration: underline 2px solid #FFFFFF;
}

.column-footer__contact-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 39px;
    color: #FFFFFF;
    transition: 0.6s;
}

.column-footer__contact-link:hover {
    color: #EE6C4D;
}

.footer__bottom {
    padding: 29px 0;
}

.footer__copy {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

@media(max-width:1202px) {
    .footer__top {
        justify-content: center;
    }
    .footer__column:nth-child(1) {
        flex-grow: 0;
    }
    .column-footer__logo {
        margin-bottom: 30px;
    }
    .column-footer__social-media-list {
        justify-content: center;
    }
    .column-footer__header {
        margin-bottom: 20px;
        text-align: center;
    }
    .menu-footer__item {
        text-align: center;
    }
    .column-footer__contact-item {
        text-align: center;
    }
}

@media(max-width:767px) {
    .footer {
        padding-top: 17.48%;
    }
    .footer__top {
        padding-bottom: 25px;
        padding-top: 35px;
    }
}
